body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.discord {
    background-color: #7289DA;
    color: #fff;
}

.discord-icon {
    background-image: url('/static/shops/Discord-Logo-White.png');
    background-size: contain;
    background-position-x: 0.5rem;
    background-position-y: center;
    background-repeat: no-repeat;
    padding-left: 3rem;
}

.foot-links>div {
    border-left: solid 1px #999;
}
