{% extends "shops/base.html" %}
{% load static %}

{% block breadcrumbs %}
            {% if shop %}
            <a href="{% url 'shops:shop_detail' slug=shop.slug %}" class="breadcrumb">{{ shop.name }}</a>
            {% else %}
            <span class="breadcrumb">店舗追加</span>
            {% endif %}
{% endblock %}

{% block content %}
      {% if shop %}
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s4">
              <a href="{% url 'shops:shop_edit' slug=shop.slug %}" target="_self" {% if active_subtab == 'shop' %}class="active"{% endif %}>基本情報</a>
            </li>
            <li class="tab col s4">
              <a href="{% url 'shops:benefit_list' slug=shop.slug %}" target="_self" {% if active_subtab == 'benefit' %}class="active"{% endif %}>特典</a>
            </li>
            <li class="tab col s4">
              <a href="{% url 'shops:photo_list' slug=shop.slug %}" target="_self" {% if active_subtab == 'photo' %}class="active"{% endif %}>店舗画像</a>
            </li>
          </ul>
        </div>
      </div>
      {% endif %}
{% block edit_content %}{% endblock %}
<script>
  $(function(){
    $('ul.tabs').tabs();
  });
</script>
{% endblock %}
