{% extends "shops/base_shop_edit.html" %}
{% load static %}
{% load shop_extras %}

{% block title %}{{ shop.name }}特典一覧{% endblock %}

{% block edit_content %}
<h5>{{ shop.name }}の特典</h5>

<div class="fixed-action-btn">
  <a href="{% url 'shops:benefit_add' slug=shop.slug %}" class="btn-floating btn-large waves-effect waves-light red">
    <i class="material-icons">add</i>
  </a>
</div>

{% if object_list %}
{% regroup object_list by state as benefits_by_state %}
{% for state, benefits in benefits_by_state %}
<h6 style="margin-top: 3rem;">{{ state|state_label }}</h6>
<table class="striped">
  <colgroup>
    <col style="width: 10rem;">
    <col style="width: 10rem;">
    <col>
  </colgroup>
  <thead>
    <th>開始日時</th>
    <th>終了日時</th>
    <th>特典内容</th>
  </thead>
  <tbody>
    {% for benefit in benefits %}
    <tr>
      <td>{{ benefit.starts_at }}</td>
      <td>{{ benefit.ends_at|default:'' }}</td>
      <td>
        <a href="{% url 'shops:benefit_edit' slug=shop.slug pk=benefit.pk %}">{{ benefit.content }}</a>
        {% if state == 1 %}
        <div class="right">
          <a href="{% url 'shops:benefit_cancel' slug=shop.slug pk=benefit.pk %}" class="waves-effect waves-light btn-floating lime darken-1">
            <i class="material-icons right">block</i>
          </a>
        </div>
        {% else %}
        <div class="right">
          <a href="{% url 'shops:benefit_del' slug=shop.slug pk=benefit.pk %}" class="waves-effect waves-light btn-floating orange darken-1">
            <i class="material-icons right">delete_forever</i>
          </a>
        </div>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endfor %}
{% else %}
<p>特典は登録されていません</p>
{% endif %}
{% endblock %}
