{% extends "shops/base_shop_edit.html" %}
{% load static %}
{% load shop_extras %}
{% load imagekit %}
{% load material_form %}

{% block title %}{{ shop.name }}画像一覧{% endblock %}
{% block headcss %}
<style>
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }
  .card-thumbnail {
    max-height: 300px;
    object-fit: contain;
  }
  .card-image > form > button {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
</style>
{% endblock %}

{% block edit_content %}
<h5>{{ shop.name }}の店舗画像</h5>

{% if shop.photo_set.all %}
<div class="row">
  {% for image in shop.photo_set.all %}
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <form method="POST" action="{% url 'shops:photo_del' slug=shop.slug pk=image.pk %}">
          {% csrf_token %}
          <button type="submit" class="btn-floating btn-small waves-effect waves-light orange darken-1"><i class="material-icons">delete</i></button>
        </form>
        <img src="{{ image.thumbnail.url }}" class="card-thumbnail">
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p>画像は登録されていません</p>
{% endif %}
{% endblock %}

{% block footer %}
<div class="container">
  <div class="row">
    <div class="col s12">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% form %}
        {% endform %}
        <div class="right">
          <button class="btn waves-effect waves-light" type="submit" name="action">送信
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
