{% extends "shops/base_shop_edit.html" %}
{% load static %}
{% load shop_extras %}
{% load imagekit %}

{% block title %}{{ shop.name }}画像一覧{% endblock %}

{% block edit_content %}
<h5>{{ shop.name }}の店舗画像</h5>

<div class="fixed-action-btn">
  <a href="{% url 'shops:photo_add' slug=shop.slug %}" class="btn-floating btn-large waves-effect waves-light red">
    <i class="material-icons">add</i>
  </a>
</div>

{% if object_list %}
<div class="row">
  {% for image in object_list %}
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <form method="POST" action="{% url 'shops:photo_del' slug=shop.slug pk=image.pk %}">
          {% csrf_token %}
          <button type="submit" class="btn-floating btn-small waves-effect waves-light red" style="position: absolute; top: 1rem; right: 1rem;"><i class="material-icons">delete</i></button>
        </form>
        <img src="{{ image.thumbnail.url }}" >
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p>画像は登録されていません</p>
{% endif %}
{% endblock %}
