{% extends "shops/base_shop_edit.html" %}
{% load static %}
{% load material_form %}

{% block title %}{% if shop %}{{ shop.name }}{% else %}店舗{% endif %}基本情報編集{% endblock %}

{% block edit_content %}
<form method="POST">
  {% csrf_token %}
  {% form %}
  {% endform %}
  <div class="right">
    <button class="btn waves-effect waves-light" type="submit" name="action">送信
      <i class="material-icons right">send</i>
    </button>
  </div>
</form>
{% endblock %}

{% block content_foot_js %}
<script>
  var name_box = document.querySelector('#id_name');
  var slug_box = document.querySelector('#id_slug');
  name_box.addEventListener('keyup', function(event) {
    slug_box.value = this.value.split(' ').join('-');
  });
</script>
{% endblock %}
