{% extends "shops/base_shop_edit.html" %}
{% load static %}
{% load shop_extras %}

{% block breadcrumbs %}
            <span class="breadcrumb">承認待ち一覧</span>
{% endblock %}


{% block title %}承認待ち一覧{% endblock %}

{% block edit_content %}
<h5>承認待ち一覧</h5>

{% if object_list %}
<div class="collection">
  {% for approval in object_list %}
  <a class="collection-item" href="{% url 'shops:approve_update' pk=approval.pk %}">
    <h6>{{ approval.shop.name }}</h6>
    <div>
      {{ approval.requested_at }}に{{ approval.requested_by }}が申請
      / 状態: {{ approval.stats }}
    </div>
  </a>
  {% endfor %}
</div>
{% else %}
<p>承認待ちはありません</p>
{% endif %}
{% endblock %}
