{% extends "shops/base.html" %}
{% load static %}

{% block content %}
<div class="carousel carousel-slider" data-indicators="true" style="height: 400px">
  <div class="carousel-item blue-grey darken-1 center">
    <img src="{% static 'shops/xp-man-1.png' %}" style="width: auto; object-fit: contain;">
  </div>
  <div class="carousel-item blue-grey darken-1 center">
    <img src="{% static 'shops/xp-man-1.png' %}" style="width: auto; object-fit: contain;">
  </div>
  <div class="carousel-item blue-grey darken-1 center">
    <img src="{% static 'shops/xp-man-1.png' %}" style="width: auto; object-fit: contain;">
  </div>
</div>
<h5>{{ object.name }}</h5>
<p>{{ object.business_description }}</p>

{% if object.benefits_available %}
<h6>特典</h6>
<ul class="collection with-header">
  {% for benefit in object.benefits_available %}
  <li class="collection-item">{{ benefit.content }}</li>
  {% endfor %}
</ul>
{% endif %}

<h6>場所・連絡先</h6>
<table class="striped">
  <tr>
    <td class="right">住所</td>
    <td>
      〒{{ object.zipcode }}<br>
      {{ object.address1 }} {{ object.address2 }}<br>
      {% if object.map_url %}<a href="{{ object.map_url }}" target="_blank">Google マップで地図を見る</a>{% endif %}
    </td>
  </tr>
  {% for contact in object.contact_set.all %}
  <tr>
    <td class="right">{{ contact.contact_type.name }}</td>
    <td>{% if contact.href %}<a href="{{ contact.href }}">{% endif %}{{ contact.label }}{% if contact.href %}</a>{% endif %}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}

{% block footjs %}
<script>
  $(document).ready(function(){
    $('.carousel.carousel-slider').carousel({fullWidth: true, indicators: true});
  });
</script>
{% endblock %}
