{% extends "shops/base.html" %}
{% load static %}

{% block title %}{{ shop.name }}{% endblock %}
{% block headcss %}
<style>
  .carousel.carousel-slider {
    height: 50vh;
  }
  .carousel-item img {
    max-height: 50vh;
    object-fit: contain;
  }
  .benefits > li:nth-child(odd) {
    background-color: rgba(242, 242, 242, 0.5);
  }
  .contacts > div:nth-child(odd) {
    background-color: rgba(242, 242, 242, 0.5);
  }
</style>
{% endblock %}

{% block breadcrumbs %}
            <span class="breadcrumb">{{ shop.name }}</span>
{% endblock %}

{% block content %}
{% if can_edit_shop %}
<div class="fixed-action-btn">
  <a href="{% url 'shops:shop_edit' slug=object.slug %}" class="btn-floating btn-large waves-effect waves-light red">
    <i class="material-icons">edit</i>
  </a>
</div>
{% endif %}

<div class="carousel carousel-slider" data-indicators="true">
  {% for photo in shop.photo_set.all %}
  <div class="carousel-item blue-grey darken-1 center">
    <img src="{{ photo.carousel.url }}">
  </div>
  {% empty %}
  <div class="carousel-item blue-grey darken-1 center">
    <img src="{% static 'shops/xp-man-1.png' %}">
  </div>
  {% endfor %}
</div>
<h5>{{ object.name }}</h5>
<p>{{ object.business_description|linebreaksbr }}</p>

<h6>XPpay支払先Discordアカウント</h6>
<ul class="collection">
  <li class="collection-item">
    <a href="{% url 'shops:shop_paying' slug=object.slug %}" class="btn waves-effect waves-light orange darken-3">
      <i class="material-icons left">shopping_cart</i>このお店でXP支払いをします!
    </a>
  </li>
  <li class="collection-item">
    <div class="valign-wrapper">
      <img src="{% static 'shops/XPpay_logo_39x50.png' %}">
      <span style="margin-left: 1rem;">{{ shop.discord_for_payment }}</span>
    </div>
  </li>
  <li class="collection-item valign-wrapper">
    <i class="material-icons small">picture_as_pdf</i>
    <a href="{% url 'shops:shop_pdf' slug=shop.slug %}" style="margin-left: 1rem;">PDFをダウンロード</a>
  </li>
</ul>

{% if object.benefits_available %}
<h6>特典</h6>
<ul class="benefits collection with-header">
  {% for benefit in object.benefits_available %}
  <li class="collection-item">{{ benefit.content }}</li>
  {% endfor %}
</ul>
{% endif %}

<h6>場所・連絡先</h6>
<div class="contacts collection">
  <div class="row collection-item">
    <div class="col s3 m2">住所</div>
    <div class="col s9 m10">
      〒{{ object.zipcode }}<br>
      {{ object.address1 }} {{ object.address2 }}<br>
      {% if object.map_url %}<a href="{{ object.map_url }}" target="_blank">Google マップで地図を見る</a>{% endif %}
    </div>
  </div>
  {% for contact in object.contact_set.all %}
  <div class="row collection-item">
    <div class="col s3 m2">{{ contact.contact_type.name }}</div>
    <div class="col s9 m10">
      {% if contact.href %}<a href="{{ contact.href }}">{% endif %}{{ contact.label }}{% if contact.href %}</a>{% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block footjs %}
<script>
  var elem = document.querySelector('.carousel.carousel-slider');
  var instance = M.Carousel.init(elem, {
    fullWidth: true,
    indicators: true
  });
  if (document.querySelectorAll('.carousel-item').length > 1) {
    setInterval(function() {
      instance.next()
    }, 5000);
  }
</script>
{% endblock %}
