{% extends "common/site_base.html" %}
{% load static %}

{% block title %}店舗一覧{% endblock %}
{% block headcss %}
<style>
  .benefits > li:nth-child(even) {
    background-color: rgba(242, 242, 242, 0.5);
  }
</style>
{% endblock %}

{% block content %}
<div style="text-align: right;">
  店舗フィルタ:
  {% if view.kwargs.all_shop %}<a href="{% url 'shops:shop_list' %}">{% endif %}承認済みのみ{% if view.kwargs.all_shop %}</a>{% endif %} /
  {% if not view.kwargs.all_shop %}<a href="{% url 'shops:shop_list_all' %}">{% endif %}すべて{% if not view.kwargs.all_shop %}</a>{% endif %}
</div>

<h5>エリアを選択</h5>
<ul class="collection">
  {% for area in areas %}
  <li class="collection-item">{% if area.active_shops %}<a href="#area-{{ area.id }}">{% endif %}{{ area.name }}: {{ area.active_shops|length }}件{% if area.active_shops %}</a>{% endif %}</li>
  {% endfor %}
</ul>

{% if user.is_authenticated %}
<div class="fixed-action-btn">
  <a href="{% url 'shops:shop_add' %}" class="btn-floating btn-large waves-effect waves-light red">
    <i class="material-icons">add</i>
  </a>
</div>
{% endif %}

{% regroup object_list by area as area_shops %}
{% for area, local_shops in area_shops %}
<h5 id="area-{{ area.id }}">{{ area.name }}</h5>
<div class="divider"></div>
<div class="section">
  <div class="row">
    {% for shop in local_shops %}
    <div class="col s12 m4">
      <div class="card hoverable">
        <div class="card-image blue-grey darken-1 waves-effect waves-block waves-light">
          <a href="{% url 'shops:shop_detail' slug=shop.slug %}">
            {% if shop.photo_set.first %}
            <img src="{{ shop.photo_set.first.thumbnail.url }}" alt="{{ shop.name }}" clas="activator">
            {% else %}
            <img src="{% static 'shops/xp-man-1.png' %}" alt="{{ shop.name }}" clas="activator">
            {% endif %}
          </a>
        </div>
        <div class="card-content activator">
          <span class="card-title activator">{{ shop.name }}<i class="material-icons right">more_vert</i></span>
          <p class="activator">{{ shop.business_description|linebreaksbr }}</p>
        </div>
        <div class="card-action">
          <a href="{% url 'shops:shop_detail' slug=shop.slug %}">お店の情報を見る</a>
        </div>
        <div class="card-reveal">
          <span class="card-title">{{ shop.name }}<i class="material-icons right">close</i></span>
          {% if shop.benefits_available %}
          <ul class="benefits collection with-header">
            <li class="collection-header">特典</li>
            {% for benefit in shop.benefits_available %}
            <li class="collection-item">{{ benefit.content }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endfor %}
{% endblock %}
