{% extends "common/site_base.html" %}
{% load static %}

{% block title %}XPpay SHOPSって何?{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12">
    <h5>XPpay SHOPSって何?</h5>
    <p>XPpay SHOPSは、<a href="{% url 'payments:about_xppay' %}">XPpay</a>をより利用しやすくし、発展することを目的としたサービスです。</p>
    <p><img width="100%" src="{% static 'payments/xppay-shops-1.png' %}"></p>
  </div>
  <div class="col s12 m6">
    <h6>店舗利用のお客様</h6>
    <ul class="browser-default">
      <li>XPpayで支払いできる店舗を、簡単に探すことができます。</li>
      <li>XPpay支払い時の特典を確認することができます。</li>
      <li>支払い時は、金額を入力して,tipコマンドをらくらくコピー!</li>
      <li>各店舗専用チャンネルへのリンクをクリックして、「XPpay」サーバーにスムーズに移動!</li>
      <li>XPpayでの支払いをするだけであれば、XPpay SHOPSでログインする必要はありません!</li>
    </ul>
  </div>
  <div class="col s12 m6">
    <h6>店舗様</h6>
    <ul class="browser-default">
      <li>XPpay支払い可能店舗であることを、Discord外のプラットフォームで宣伝できます。</li>
      <li>店舗掲示用のQRコード付きポスターを、PDFでダウンロードすることができます。</li>
      <li>XPpay支払い時の特典は、内容や期間を自由に設定できます。</li>
      <li>お客様に,tipコマンド生成機能を使ってもらうことで、コマンドを手打ちするよりもスムーズに支払いができます。</li>
      <li>XPpay SHOPS掲載には、あらかじめXPpayのエントリーが承認されている必要があります。</li>
      <li>XPpay SHOPS掲載ご希望の店舗様は、ページ上部(PC)または左からスワイプインで表示されるメニュー(スマートフォン)にあるLogin with Discordからログインし、店舗登録を開始してください。</li>
    </ul>
  </div>
</div>
{% endblock %}
