{% extends "common/site_base.html" %}
{% load static %}

{% block title %}XPpayって何?{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12">
    <h5>XPpayって何?</h5>
    <p>XPpayは、DiscordのXp-Botを利用してXPでの支払いを行うシステムです。</p>
    <p><img width="100%" src="{% static 'payments/xppay-1.png' %}"></p>
    <p>DiscordのXPpayサーバ内に店舗ごとにテキストチャンネルが用意されていて、そこでtipコマンドを使用することでXp-Botが支払いを行います。</p>
    <p>DiscordのXp-Botを利用するシステムですので、支払いするお客様もXPを受け取る店舗もDiscordのアカウントが必要です。</p>
    <p>XPpayの利用方法、注意点などにつきましては、DiscordのXPpayサーバにある#guidelineチャンネルに記載されています。必ずご一読いただいた上でご利用ください。</p>
  </div>
</div>
{% endblock %}
